<container class="delivery_date_container">
  <row>
    <columns class="delivery_date_left_column">
      <span class="delivery_date_info">Your guaranteed delivery date is:</span>
      <span class="delivery_date_bold_info">Wednesday, March 4</span>
      <br /><br />
      <span class="delivery_date_info">Your shipping speed:</span>
      <br />
      <span class="delivery_date_bold_info">
        <img
          src="{{ root }}/assets/img/prime_logo.png"
          style="display: inline-block;"
        />Same-Day/One-Day Shipping</span
      >
      <br /><br />
      <a href="#"><img src="{{ root }}/assets/img/order_button.png"/></a>
    </columns>

    <columns class="delivery_date_right_column">
      <span class="delivery_date_info">Your order will be sent to:</span>
      <br />
      <span class="delivery_date_bold_info">JOHN DOE</span><br />
      <span class="delivery_date_bold_info">123 Fake Street</span><br />
      <span class="delivery_date_bold_info">Toronto, Ontario A1B 2C3</span
      ><br />
      <span class="delivery_date_bold_info">Canada</span><br />
    </columns>
  </row>
</container>
