<container class="footer_container">
  <row>
    <columns>
      <span
        >To learn more about ordering, go to
        <a href="#">Ordering from Amazon.ca</a>.</span
      >
      <br />
      <span
        >If you want more information or need more assistance, go to
        <a href="#">Help</a>.</span
      >
      <br /><br />
      <span>We hope to see you again soon!</span>
      <br />
      <span style="font-size: 16px; font-weight: bold;"
        ><strong>Amazon.ca</strong></span
      >
    </columns>
  </row>

  <hr />
  <br />

  <row>
    <column>
      <p>
        California Residents: One or more of the items in your order may be
        subject to California's Proposition 65 law.
      </p>
      <p>
        This email was sent from a notification-only address that cannot accept
        incoming email. Please do not reply to this message.
      </p>
    </column>
  </row>

  <br />
  <br />
</container>
