<container class="header_container">
  <row>
    <columns large="3" class="header_left_column" valign="middle">
      <a href="#">
        <img
          src="{{ root }}/assets/img/amazon_logo.png"
          style="margin: 0 !important;"
      /></a>
    </columns>

    <columns large="9" class="header_right_column">
      <row class="header_right_column_first_row ">
        <columns>
          <a href="#" class="header_links">Your Orders</a>

          <span
            style="text-decoration:none;color:rgb(204,204,204);font-size:15px;font-family:Arial,sans-serif"
            >&nbsp;|&nbsp;</span
          >

          <a href="#" class="header_links">Your Account</a>

          <span
            style="text-decoration:none;color:rgb(204,204,204);font-size:15px;font-family:Arial,sans-serif"
            >&nbsp;|&nbsp;</span
          >

          <a href="#" class="header_links">Amazon.ca</a>
        </columns>
      </row>

      <row><hr /></row>

      <row class="header_right_column_second_row float-right">
        <columns>
          <row class="float-right"><h2>Order Confirmation</h2></row>
          <row
            ><p>Order #<a href="#">123-1234567-1234567</a></p>
          </row>
        </columns>
      </row>
    </columns>
  </row>
</container>
