<container class="order_details_container">
  <row>
    <columns class="order_details_header">
      <h3>Order Details</h3>
    </columns>
  </row>

  <hr />

  <row>
    <columns class="order_details_date">
      <span style="color: black;"
        >Order #<a href="#">123-1234567-1234567</a></span
      >
      <br />
      <span>Placed on Tuesday, March 3, 2020</span>
    </columns>
  </row>

  <!-- START OF A PRODUCT -->
  <row>
    <columns large="1"> </columns>

    <columns large="3">
      <a href="#">
        <img src="{{ root }}/assets/img/product_1.jpg" style="margin: 0;"
      /></a>
    </columns>

    <columns class="order_details_product" large="6">
      <span><a href="#">Lindt Dark Chocolate Spread, 200g, 200 Grams</a></span>
      <br />
      <span>Grocery</span>
      <br />
      <span>Sold by <a href="#">Amazon.com.ca</a>, Inc.</span>
    </columns>

    <columns class="order_details_product_price" large="2">
      <span style="font-size: 14px;"><b>CDN$ 5.97</b></span>
    </columns>
  </row>

  <br />

  <!-- START OF A PRODUCT -->
  <row>
    <columns large="1"> </columns>

    <columns large="3">
      <a href="#">
        <img src="{{ root }}/assets/img/product_2.jpg" style="margin: 0;"
      /></a>
    </columns>

    <columns class="order_details_product" large="6">
      <span><a href="#">Love Good Fats 12 Bars</a></span>
      <br />
      <span><a href="#">(chocolate chip Cookie Dough), 39 Grams</a></span>
      <br />
      <span>Grocery</span>
      <br />
      <span>Sold by <a href="#">love good fats</a></span>
      <br />
      <span>Condition: New</span>
    </columns>

    <columns class="order_details_product_price" large="2">
      <span style="font-size: 14px;"><b>CDN$ 33.99</b></span>
    </columns>
  </row>

  <br />
  <hr />
  <br />

  <!-- TOTAL ORDER PRICE DETAILS -->
  <row>
    <columns class="order_details_totals" large="9">
      <span>Item Subtotal:</span>
      <br />
      <span>Shipping & Handling:</span>
      <br />
      <span>Promotion Applied:</span>
      <br />
      <span>Estimated Tax (GST/HST):</span>
      <br />
      <span>Estimated Tax (PST/QST):</span>
      <br /><br />
      <span><strong>Order Total:</strong></span>
    </columns>

    <columns class="order_details_totals" large="3">
      <span>CDN$ 40.00</span>
      <br />
      <span>CDN$ 4.99</span>
      <br />
      <span>-CDN$ 4.99</span>
      <br />
      <span>CDN$ 3.04</span>
      <br />
      <span>CDN$ 0.00</span>
      <br /><br />
      <span><strong>CDN$ 43.04</strong></span>
    </columns>
  </row>

  <hr />
  <br />
</container>
